<% provide(:title, "Scene") %>
<h1>Scene</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:scene, url: '/scene') do |f| %>

      <%= f.label :content %>
      <%= f.text_field :content %>

      <%= f.label :character %>
      <%= f.select(:character_id, Character.all.map {|c| [ c.name, c.id ] }) %>
    
      <%= f.label :chapter %>
      <%= f.select(:chapter_id, Chapter.all.map {|c| [ c.title, c.id ] }) %>
      <%= f.submit "Send", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
