<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>

  <div class="span8">
    <% if Scene.all.any? %>
      <tr><h3>Scenes (<%= Scene.all.count %>)</h3></tr>
      <ol class="microposts">
        <tr><%= render Scene.all %></tr>
      </ol>
    <% end %>
  </div>

</div>
<div class="row">
  <aside class="span4">
  </aside>
  <div class="span8">
    <% if Character.all.any? %>
      <h3>Characters (<%= Character.all.count %>)</h3>
      <ol class="microposts">
        <%= render Character.all %>
      </ol>
    <% end %>
  </div>
</div>
Sarroch

